# Frontend
/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
build
*.log
*.lock

# ???
*.pot

# Backend
*.pyc
__pycache__/
env
migrations
__init__.py

# vscode
vscode/
.classpath
.project
.settings/
